MVCServiceClient/Connected Services/PlantWCF/Plants2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlantItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlantItem" nillable="true" type="tns:PlantItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlantItem" nillable="true" type="tns:ArrayOfPlantItem" />
  <xs:complexType name="PlantItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sku" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlantItem" nillable="true" type="tns:PlantItem" />
  <xs:complexType name="PlantDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PlantItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="FormSize" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlantDetail" nillable="true" type="tns:PlantDetail" />
</xs:schema>