MVCServiceClient/Connected Services/PlantWCF/Plants.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60909/Plants.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTObjects" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTObjects" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfPlantItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sku" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTObjects" minOccurs="0" name="GetBySKUResult" nillable="true" type="q2:PlantDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>